body {
  background-color: #fff;
  margin: 0;
  font-size: 1.5em;
}

#page {
}


header.main {
  padding: 0;
  margin-bottom: 0;
}

#header-image {
  background: url('../images/header.jpg');
  height:300px;
  overflow: auto;
}

header.main h1 {
  display: block;
  width: 500px;
  margin: 80px auto;
  padding: 30px;
  background: rgba(0,0,0,0.7);
}

header.main h1 a:hover {
  text-decoration: none;
}

footer.main {
  margin-top: 0;
  min-height: 300px;
}


.full-width {
  width: 100vw;
  margin-left: 50%;
  margin-right: 0;
  transform: translateX(-50%);
}

main {
  padding: 4em;
  min-height: 800px;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

nav {
    background: #000;
    padding: 12px;
}

#comments {
  background: #eee;
  padding: 12px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  font-size: 0.8em;
}
#comments ul {
  list-style-type: none;
  padding: 0;
}

#comments ul li  {
  padding: 4px;
  
}

#comments ul  li  li{
  padding-left: 20px;
}

#comments ul  li  li  li{
  padding-left: 20px;
}

#comments ul  li  li  li li{
  padding-left: 0;
}

.logo {
  max-width: 100%;
}

.abstract {
  font-weight: bold;
  color: #444;
  font-size: 1.1em;
}

.logo.fl {
  float:left;
  margin: 0 4px 8px 0;
}

.logo.fr {
  float:left;
  margin: 0 0 8px 4px;
}