body.brownish-scheme #content {
    background-color: rgba(125, 114, 100, 0.1);
}

#content .tile.color.reported_comments 
{
      background-color: rgba(255, 122, 117, 0.49);; 
}
#content .tile.color.reported_comments .tile-header, 
#content .tile.color.reported_comments .tile-widget, 
#content .tile.color.reported_comments .tile-body, #content .tile.color .tile-footer,
#content .tile.color.reported_comments .table {
    color: #444;
}


.publiedraft.onoffswitch.labeled {
    width: 70px;
}

.publiedraft.onoffswitch.labeled .onoffswitch-inner:before {
    content: "Publié";
}
.publiedraft.onoffswitch.labeled .onoffswitch-inner:after {
    content: "Brouillon";
}

.publiedraft.onoffswitch.labeled .onoffswitch-switch {
    right: 48px;
}
.publiedraft .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#logo {
	height: 250px;
	background: #eee;
}

.dz-preview.dz-image-preview {
    display: none;
}

.tile-body img {
	max-width: 100%;
}

.thumbnail {
    position: relative;
    overflow: hidden;
}

.thumbnail_100 {
    width: 100px;
    height: 100px;
}
.thumbnail_100 img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#form-signin .input-group .input-group-addon {
    background: #d6d2cc;
}